{% extends 'base.html' %}
{% block title %}实时检测{% endblock %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/echarts/3.0.0/echarts.min.js"></script>
        <style>
            #box {
                width: 400px;
                float: left;
                margin-left: 20px
            }

            #my_video_1 {
                float: right;
                margin-right: 20px;
            }
        </style>
    </head>
    <body>

    </body>

    </html>
{% endblock %}